# ===== Android / Gradle =====
.gradle/
build/
app/build/
app/release/

# ===== Android Studio / IntelliJ =====
.idea/
*.iml
local.properties

# ===== Kotlin / IDE logs =====
.kotlin/errors/
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Native build =====
.externalNativeBuild/
.cxx/
